* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  width: 100%;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: darkkhaki;
  position: relative;
}

#homeVid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  position: absolute;
}

h1 {
  font-size: 3em;
  margin-bottom: 1em;
  font-weight: 500;
  text-align: center;
}

.container {
  width: 400px;
}

.chat {
  display: flex;
  flex-direction: column;
  background-color: #e7e7e7;
  padding: 20px;
  height: 500px;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}

.chat_input {
  margin-top: 20px;
}

.chat_messages_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}

.chat_message {
  background-color: #bde0fe;
  color: #000;
  padding: 15px;
  border-radius: 15px;
  max-width: 80%;
  word-wrap: break-word;
  margin-bottom: 20px;
  position: relative;
}

.chat_message.right { 
  background-color: #adc178;
  align-self: flex-end;
  text-align: right;
}

.chat_message.left { 
  background-color: #bde0fe;
}

.chat_message.right > .chat_message_bottom {
  justify-content: flex-end;
}

.chat_message_bottom {
  display: flex;
  margin-top: 5px;
  font-size: 0.8em;
}

.chat_message_author {
  margin-right: 5px;
}

.chat_input {
  width: 100%;
  display: flex;
}

.chat_input input {
  border: none;
  width: 80%;
  padding: 15px 15px;
  border-radius: 5px 0 0 5px;
}

.send_btn {
  background-color: #6a994e;
  border-radius: 0 5px 5px 0;
  color: #fff;
  border: none;
  padding: 15px 15px;
  width: 20%;
  cursor: pointer;
}